<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">
      <img src="../../../../assets/images/tema-scuro.png" alt="Logo">
  </a>
  </div>

</div>

<div class="header-container">
  <nb-actions size="small" *ngIf="authenticationEnabled">
    <nb-action
      class="user-action">
      <div *ngIf="user">
      <nb-user  *ngIf="user.roles!==undefined"
                [nbContextMenu]="userMenu"
                nbContextMenuTag="user-menu"
                [onlyPicture]="userPictureOnly"
                [name]="(user?.name!==undefined)?user?.name:user?.preferred_username"
                [title]="user?.roles.join(' | ')"
                [picture]="'assets/images/default_user.png'">
      </nb-user>

      <nb-user  *ngIf="user.realm_access!==undefined && user.realm_access.roles !== undefined"
                [nbContextMenu]="userMenu"
                nbContextMenuTag="user-menu"
                [onlyPicture]="userPictureOnly"
                [name]="(user?.name!==undefined)?user?.name:user?.preferred_username"
                [title]="user?.realm_access.roles.join(' | ')"
                [picture]="'assets/images/default_user.png'">
      </nb-user>
    </div>
    </nb-action>
  </nb-actions>
        <!-- Not Authenticated -->
    <nb-actions size="small" *ngIf="authenticationEnabled && (user=== undefined || user === null)">
      <nb-action class="user-action" >
        <nb-user [nbContextMenu]="userMenuDefault" nbContextMenuTag="user-menu" [onlyPicture]="userPictureOnly"

          [picture]="'assets/images/default_user.png'">
        </nb-user>
      </nb-action>
    </nb-actions>

</div>
